#contentContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

#imageContainer{
  border: solid 5px #26a69a;
  border-radius: 15px;
}

#imageContainer div{
  border-radius: 15px;
  overflow: auto;
  position: relative;
  overflow: visible;
}

#buttonsContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  margin-bottom: 10px;
}

#rotateButton:focus, #crosshairButton:focus {
  background-color: #26a69a;
}